@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --light-dark-grey: #e5e2e2;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content nav .profile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content nav .profile i{
    font-size: 36px;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.content main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.content main .insights{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
    grid-template-columns: repeat(4, 1fr); /* Ensure 4 columns */
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-primary);
    color: var(--primary);
}


.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights li .info p{
    color: var(--dark);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

/* Add alternating row background colors */
.content main .bottom-data .orders table tbody tr:nth-child(odd) {
  background: var(--grey); /* White background for even rows */
}

.content main .bottom-data .orders table tbody tr:nth-child(even) {
  background: var(--light); /* Light grey background for odd rows */
}

/* Ensuring the hover color works correctly */
.content main .bottom-data .orders table tbody tr:hover {
    background: var(--light-dark-grey); /* Slightly darker grey for hover */
}


.content main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list{
    width: 100%;
}

.content main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.content main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}






.exercise-bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 50px;
    width: 100%;
    color: var(--dark);
  }
  
  .exercise-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  
  .exercise-card {
    background-color: var(--light);    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
  }
  
  .exercise-card:hover {
    transform: scale(1.05);
  }
  
  .exercise-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .exercise-info {
    padding: 20px;
  }
  
  .exercise-name {
    font-size: 24px;
    margin: 0;
  }
  
  .exercise-description,
  .set-of-exercise {
    font-size: 16px;
    color: #666;
    margin: 10px 0 0;
  }
  
  .exercise-video {
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .exercise-card:hover .exercise-video {
    display: block;
  }
  
  /* Modal styling */
  /* .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border-radius: 5px;
    background-color: var(--light);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
  } */
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* .modal-video {
    width: 100%;
    height: auto;
  } */
  
  /* Responsive styling */
  @media (max-width: 1024px) {
    .exercise-card {
      width: calc(50% - 50px); /* Two cards in one row, accounting for the gap */
    }
  }
  
  @media (max-width: 768px) {
    .exercise-card {
      width: calc(100% - 50px); /* One card in one row, accounting for the gap */
    }
  }


  .download-btn{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
  }


  .profile-container {
    margin: auto;
    background: var(--light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .profile-header h2 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .profile-header p {
    color: #888;
    font-size: 16px;
  }
  
  .profile-body {
    display: flex;
    justify-content: space-between;
  }
  
  .profile-info {
    width: 100%;
  }
  
  .profile-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin: 20px 0;
  }
  
  .profile-info p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .profile-info strong {
    font-weight: 600;
  }
  


  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Full height to cover the entire screen */
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  



  .chat {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
  }
  .chat__sidebar {
    height: 100%;
    background-color: var(--light-primary);
    flex: 0.2;
    border-radius: 15px 0 0 15px;
    color: #000;
    padding: 20px;
    border-right: 1px solid var(--light);
    overflow-y: auto;
  }
  .chat__main {
    height: 100%;
    flex: 0.8;
  }
  .chat__header {
    margin: 30px 0 20px 0;
  }
  .chat__users > * {
    margin-bottom: 10px;
    color: var(--dark);
    font-size: 14px;
  }
  .chat__user {
    display: flex;
    justify-content: flex-start;
  }

  .chat__user:hover{
    color: var(--primary);
    cursor: pointer;
  }

  .chat__userName{
    margin-left: 10px;
  }
  .user__name{
    font-size: 16px;
  }

  .user__location{
    font-size: 12px;
    color: #888;
  }
  .online__users > * {
    margin-bottom: 10px;
    color: rgb(238, 102, 102);
    font-style: italic;
  }
  .chat__mainHeader {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0 15px 0 0;
    background-color: var(--light-primary);
    color: #000;
  }
  .chat__userImg__Profile{
    display: flex;
    align-items: center;
  }
  .leaveChat__btn {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #d1512d;
    cursor: pointer;
    color: var(--light);
  }
  .message__container {
    width: 100%;
    height: 62vh;
    background-color: var(--light);
    padding: 20px;
    overflow-y: scroll;
  }
  
  .message__container > * {
    margin-bottom: 10px;
  }
  .chat__footer {
    padding: 10px;
    background-color: var(--light-primary);
    height: 10vh;
    border-radius: 0 0 15px 0;
  }
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mediaUpload {
    display: none; /* Hide the default file input */
  }
  .uploadBtn {
    width: auto;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
  }
  
  .uploadBtn:hover {
    background-color: var(--light-primary);
  }
  .message {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
  }
  .sendBtn {
    width: 150px;
    background-color: green;
    padding: 10px;
    border: none;
    outline: none;
    color: var(--light);
    cursor: pointer;
  }
  .sendBtn:hover {
    background-color: rgb(129, 201, 129);
  }
  .message__recipient {
    background-color: #f5ccc2;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: #000;
  }
  .message__sender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
    color: #000;
  }
  .message__chats > p {
    font-size: 13px;
  }
  .sender__name {
    text-align: right;
  }
  .message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
  }


  .selectedFile-container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 145px;
    padding: 10px;
    background-color: var(--light-primary);
    width: 73.5%;
    right: 48px;
  }
  .selectedFile {
    margin-right: 10px;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .removeFileBtn {
    background: none;
    border: none;
    margin-left: 10px;
    color: red;
    cursor: pointer;
  }
  
  .uploadBtn {
    cursor: pointer;
  }
  
  .mediaUpload {
    display: none;
  }
  /* Media file container */
.media__file {
  margin-top: 10px;
}

/* Image styling */
.media__file img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Video styling */
.media__file video {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Other styles remain the same */






  

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light);
}

.signin-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.signin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.signin-form h2 {
    margin-bottom: 20px;
    color: var(--dark);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark);
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    background-color: transparent;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
}

.form-group-row .form-group {
    width: 48%;
}

.singin-button {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.singin-button:hover {
    background-color: var(--dark-grey);
}

.edit-btn {
  background-color: var(--primary);
  color: var(--light);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px 5px;
}

.edit-btn:hover {
  background-color: var(--dark-grey);
}

.delete-btn {
  background-color: var(--danger);
  color: var(--light);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px 5px;
}

.delete-btn:hover {
  background-color: var(--dark-grey);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    color: var(--dark);
}

.remember-forgot a {
    color: var(--primary);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.signup-link {
    margin-top: 20px;
    color: var(--dark);
}

.signup-link a {
    color: var(--primary);
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.radio-group {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px 0;
}


.radio-child {
  display: flex;
  align-items: center;
  justify-content: start;
}

.radio-child input {
  margin-right: 5px;
}

.radio-group label {
    margin-right: 20px;
    color: var(--dark);
}

.singin-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.singin-spinner-child {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
